@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.note {
  padding: 25px;
  height: 350px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #9adcff;
  border-radius: 30px;
  border: 2.5px rgb(60, 60, 60) solid;
  font-family: 'Roboto',sans-serif;
}

.note-text {
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.87rem;
  outline: none;
  border: none;
  overflow: auto;
}

.note-content {
  /* border: none; */
  border-radius: 5%;
}

.emboh {
  display: block;
}

.edit-icon,
.delete-icon {
  width: 30px;
  margin-top: 10px;
}