@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* body {
    font-family: 'Roboto', sans-serif;
} */

.register-page {
    background-color: bisque;
    border-radius: 3%;
    font-family: 'Roboto', sans-serif;
    
}

.register-page h2 {
    font-size: 75px;
}

.register-form {
    color: rgb(93, 93, 93);
}

.register-page button {
    background-color: rgb(65, 65, 252);
}

.button-form {
    text-align: center;
}

.pencil {
    position: absolute;
    width: 150px;
    top: 20%;
    right: 30%;
}